/* アニメーション用のCSS */

/* フェードイン */
/* 初期状態でのフェードイン効果のスタイル */
.fd {
  /* 初期状態で要素を透明に */
  opacity: 0;
  /* フェードインのアニメーションがスムーズに行われるように */
  transition: opacity 1s ease-in-out;
}

/* フェードインされた状態のスタイル */
.fd-in-visible {
  /* フェードインで表示される */
  opacity: 1;
}

/* スライドイン */
/* 初期状態でのスライドイン効果のスタイル */
.slide-left {
  /* 初期状態で要素を左にオフセット */
  transform: translateX(-100%);
  /* 必要に応じて透明度を追加 */
  /* opacity: 0; */
  /* スライドインのアニメーションがスムーズに行われるように */
  transition: transform 1s ease-out, opacity 1s ease-out;
}

/* スライドインされた状態のスタイル */
.slide-left-in {
  /* スライドインで表示される位置 */
  transform: translateX(0);
  opacity: 1;
}

/* 右からスライドイン効果のスタイル */
.slide-right {
  /* 初期状態で要素を右にオフセット */
  transform: translateX(100%);
  /* 必要に応じて透明度を追加 */
  /* opacity: 0; */
  /* スライドインのアニメーションがスムーズに行われるように */
  transition: transform 1s ease-out, opacity 1s ease-out;
}

/* スライドインされた状態のスタイル */
.slide-right-in {
  /* スライドインで表示される位置 */
  transform: translateX(0);
  opacity: 1;
}

/* イントロアニメーション */
#opening-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  z-index: 1000;
}

#opening-image {
  width: 100vw;
  height: 100svh;
  opacity: 0;
  animation: flickerIn 2s steps(8, end) forwards, hold 1s 2s forwards, fadeOut 2s 4s forwards;
}

/* フリッカーアニメーション */
@keyframes flickerIn {
  0%, 10%, 20%, 40%, 60%, 70%, 80%, 90% {
    opacity: 0;
  }
  11%, 21%, 41%, 61%, 71%, 81%, 95% {
    opacity: 1;
  }
}

/* 画像を2秒間表示するアニメーション */
@keyframes hold {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* フェードアウトアニメーション */
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/* ページフェードインアニメーション */
body {
  opacity: 0;
  animation: bodyFadeIn 3s forwards;
}

@keyframes bodyFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* イントロアニメーション */
