/* 基本のスタイルを記載（MobileFirstの実装とする） */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #34807c;
  font-family: "Montserrat", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0); /* 背景を半透明に設定 */
  z-index: 10; /* 他の要素の上に表示 */

}

/* heroセクション */
.hero {
  background-image: url(../img/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.grid-container {
  display: grid;
  width: 100vw;
  height: 100svh;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 0;
}

.grid-item {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

/* 無限スクロールメニュー */
.scrolling-menu {
  overflow: hidden;
  width: 100vw; /* 全幅 */
  box-sizing: border-box;
}

.menu-content {
  display: flex;
  white-space: nowrap;
  animation: scrollLeft 15s linear infinite;
}

.menu-item {
  flex: 0 0 auto;
  width: 25vw;
  max-width: 300px;
  background-color: transparent;
  border: none;
  margin: 0 5px;
  padding: 0;
}

.menu-item a {
  display: block;
  padding: 10px 20px;
  background-color: #f2f2f2;
  color: #34807c;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.menu-item:focus {
  outline: none;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* 無限スクロールメニュー */

/* hero-section セパレーター */
.hero-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.hero-divider svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 33px;
}

.hero-divider .shape-fill {
  fill: #d4eef9;
}
/* heroセクション */


/* Aboutセクション */
.about {
  position: relative;
  /* padding: 0; */
  width: 100%;
  min-height: 50svh;
  text-align: center;
  background-color: #d4eef9;
  z-index: 2;
  margin-top: -10px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.about-item-img-left {
  position: absolute;
  width: 15vw;
  left: 0;
  bottom: -3svh;
  opacity: 0.5;
  z-index: 3;
}
.about-item-img-right {
  position: absolute;
  width: 15vw;
  right: 0;
  bottom: -3svh;
  opacity: 0.5;
  z-index: 3;
}

.about-item-txt {
  width: 30%;
  max-width: 1000px;
}

.about-ttl {
  margin-top: 5svh;
}
.about-txt {
  margin-top: 15svh;
}

.about .content {
  position: relative;
  z-index: 1;
}
.about-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.about-divider svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 41px;
}

.about-divider .shape-fill {
  fill: #F7F9D9;
}

.project {
  position: relative;
  overflow: hidden;
  /* height: 100svh; */
  background-color: #F7F9D9;
}

.project-container {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.project-item-txt {
  width: 30%;
  max-width: 800px;
  text-align: center;
}




