/* 基本のスタイルを記載（MobileFirstの実装とする） */
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #34807c;
  font-family: "Montserrat", "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0); /* 背景を半透明に設定 */
  z-index: 10; /* 他の要素の上に表示 */
}

/* heroセクション */
.hero {
  background-image: url(../img/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.hero-animation-item-01 {
  position: absolute;
  bottom: 55%;
  left: 20%;
  width: 5vw;
  max-width: 132px;
  height: 6.175vw;
  max-height: 163px;
}
.hero-animation-item-02 {
  position: absolute;
  bottom: 60%;
  left: 45%;
  width: 5vw;
  max-width: 119px;
  height: 4.79vw;
  max-height: 114px;
}
.hero-animation-item-03 {
  position: absolute;
  bottom: 75%;
  left: 55%;
  width: 5vw;
  max-width: 102px;
  height: 5.79vw;
  max-height: 118px;
}
.hero-animation-item-04 {
  position: absolute;
  bottom: 70%;
  left: 65%;
  width: 10vw;
  max-width: 119px;
  height: 9.58vw;
  max-height: 114px;
}
.hero-animation-item-05 {
  position: absolute;
  bottom: 33%;
  left: 68%;
  width: 5vw;
  max-width: 112px;
  height: 6.61vw;
  max-height: 148px;
}
.hero-animation-item-06 {
  position: absolute;
  bottom: 50%;
  left: 75%;
  width: 5vw;
  max-width: 103px;
  height: 4.71vw;
  max-height: 97px;
}
.hero-animation-item-07 {
  position: absolute;
  bottom: 40%;
  left: 40%;
  width: 5vw;
  max-width: 119px;
  height: 4.79vw;
  max-height: 114px;
}

/* 浜辺のアイテム */
.hero-item-01 {
  position: absolute;
  bottom: 43%;
  left: 27%;
  width: 5vw;
  max-width: 34px;
  height: 4.12vw;
  max-height: 28px;
}
.hero-item-02 {
  position: absolute;
  bottom: 48%;
  left: 34%;
  width: 5vw;
  max-width: 54px;
  height: 5.1vw;
  max-height: 55px;
}
.hero-item-03 {
  position: absolute;
  bottom: 80%;
  left: 38%;
  width: 5vw;
  max-width: 35px;
  height: 3.86vw;
  max-height: 27px;
}
.hero-item-04 {
  position: absolute;
  bottom: 50%;
  left: 55%;
  width: 5vw;
  max-width: 41px;
  height: 4.88vw;
  max-height: 40px;
}
.hero-item-05 {
  position: absolute;
  bottom: 68%;
  left: 80%;
  width: 5vw;
  max-width: 70px;
  height: 7.21vw;
  max-height: 101px;
}

/* 無限スクロールメニュー */
.scrolling-menu {
  overflow: hidden;
  width: 100vw; /* 全幅 */
  box-sizing: border-box;
  position: absolute;
  bottom: 20%;
}

.menu-content {
  display: flex;
  white-space: nowrap;
  animation: scrollLeft 30s linear infinite;
}

.menu-item {
  flex: 0 0 auto;
  width: 25vw;
  max-width: 300px;
  background-color: transparent;
  border: none;
  margin: 0 15px;
  padding: 0;
}

.menu-item a {
  display: block;
  padding: 10px 20px;
  background-color: #f2f2f295;
  color: #34807c;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.menu-item:focus {
  outline: none;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* 無限スクロールメニュー */

/* hero-section セパレーター */
.hero-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.hero-divider svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 33px;
}

.hero-divider .shape-fill {
  fill: #d4eef9;
}
/* heroセクション */

/* Aboutセクション */
.about {
  position: relative;
  /* padding: 0; */
  width: 100%;
  min-height: 50svh;
  text-align: center;
  background-color: #d4eef9;
  z-index: 2;
  margin-top: -10px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 100px 0;
}

.about-item-img-left {
  position: absolute;
  width: 15vw;
  left: 0;
  bottom: 0;
  /* opacity: 0.5; */
  z-index: 3;
}
.about-item-img-right {
  position: absolute;
  width: 15vw;
  right: 0;
  bottom: 0;
  /* opacity: 0.5; */
  z-index: 3;
}

.about-item-txt {
  width: 30%;
  max-width: 1000px;
}

.about-ttl {
  margin-top: 5svh;
}
.about-txt {
  margin-top: 10svh;
}

.about .content {
  position: relative;
  z-index: 1;
}
.about-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.about-divider svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 41px;
}

.about-divider .shape-fill {
  fill: #f7f9d9;
}
/* Aboutセクション */

/* Projectセクション */
.project {
  position: relative;
  overflow: hidden;
  /* height: 100svh; */
  background-color: #f7f9d9;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.project-item-img {
  margin: 0 100px;
}
.project-item-img-simbol {
  width: 20vw;
  max-width: 202px;
}

.project-item-txt {
  width: 40%;
  max-width: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-txt {
  margin-top: 10svh;
}
.project-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.project-divider svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 41px;
}

.project-divider .shape-fill {
  fill: #fcfbf7;
}

/* project section 共通部分 */
.project-01-img-02,
.project-02-img-02,
.project-03-img-02,
.project-04-img-02,
.project-05-img-02,
.project-06-img-02,
.project-07-img-02 {
  position: relative;
  width: 65vw;
  max-width: 604px;
  height: 43.26vw;
  max-height: 402px;
}
@media screen and (min-width: 960px) {
  .project-01-img-02,
  .project-02-img-02,
  .project-03-img-02,
  .project-04-img-02,
  .project-05-img-02,
  .project-06-img-02,
  .project-07-img-02 {
    width: 20vw;
    max-width: 302px;
    height: 13.3vw;
    max-height: 201px;
  }
}

/* project section 共通部分 */

/* project奇数section */
.project-01,
.project-03,
.project-05,
.project-07 {
  background-color: #fcfbf7;
  position: relative;
}
.project-01-container,
.project-03-container,
.project-05-container,
.project-07-container {
  padding: 150px 0;
  display: flex;
  justify-content: center;
}
.project-01-ttl,
.project-03-ttl,
.project-05-ttl,
.project-07-ttl {
  display: flex;
  justify-content: end;
  margin-right: 10vw;
}
.project-01-heading,
.project-03-heading,
.project-05-heading,
.project-07-heading {
  writing-mode: vertical-rl;
  font-weight: 600;
  text-align: center;
}
.project-01-desc,
.project-03-desc,
.project-05-desc,
.project-07-desc {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 960px) {
  .project-01-desc,
  .project-03-desc,
  .project-05-desc,
  .project-07-desc {
    flex-direction: row;
  }
}

.project-01-txt,
.project-03-txt,
.project-05-txt,
.project-07-txt {
  width: 55vw;
  margin: 5vw;
}
@media screen and (min-width: 960px) {
  .project-01-txt,
  .project-03-txt,
  .project-05-txt,
  .project-07-txt {
    width: 30vw;
    margin-right: 10vw;
  }
}
/* project奇数section */

/* project偶数section */
.project-02,
.project-04,
.project-06 {
  background-color: #d4eef9;
  position: relative;
}
.project-02-container,
.project-04-container,
.project-06-container {
  padding: 150px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.project-02-ttl,
.project-04-ttl,
.project-06-ttl {
  display: flex;
  justify-content: end;
  margin-left: 10vw;
}
.project-02-heading,
.project-04-heading,
.project-06-heading {
  writing-mode: vertical-rl;
  font-weight: 600;
  text-align: center;
}
.project-02-desc,
.project-04-desc,
.project-06-desc {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 960px) {
  .project-02-desc,
  .project-04-desc,
  .project-06-desc {
    flex-direction: row-reverse;
  }
}
.project-02-txt,
.project-04-txt,
.project-06-txt {
  width: 55vw;
  margin: 5vw;
}
@media screen and (min-width: 960px) {
  .project-02-txt,
  .project-04-txt,
  .project-06-txt {
    width: 30vw;
    margin-right: 10vw;
  }
}
/* project偶数section */

/* vocal(Project-01)セクション */

.project-01-img-01 {
  position: relative;
  width: 10vw;
  /* min-width: 66px; */
  max-width: 132px;
  height: 12.35vw;
  max-height: 163px;
  bottom: -65%;
  margin-right: 20px;
}

.project-01-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.project-01-divider svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 70px;
}

.project-01-divider .shape-fill {
  fill: #d4eef9;
}
/* vocal(Project-01)セクション */

/* SNS配信…(Project-02)セクション */

.project-02-img-01 {
  position: relative;
  width: 10vw;
  max-width: 112px;
  height: 13.21vw;
  max-height: 148px;
  bottom: -80%;
}

.project-02-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.project-02-divider svg {
  position: relative;
  display: block;
  width: calc(104% + 1.3px);
  height: 31px;
}

.project-02-divider .shape-fill {
  fill: #fcfbf7;
}
/* SNS配信…(Project-02)セクション */

/* apparel(Project-03)セクション */
.project-03-img-01 {
  position: relative;
  width: 10vw;
  max-width: 119px;
  height: 9.58vw;
  max-height: 114px;
  bottom: -80%;
}

.project-03-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.project-03-divider svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 70px;
}

.project-03-divider .shape-fill {
  fill: #d4eef9;
}
/* apparel(project-03)セクション */

/* コーチング…(Project-04)セクション */
.project-04-img-01 {
  position: relative;
  width: 10vw;
  max-width: 103px;
  height: 9.42vw;
  max-height: 97px;
  bottom: -80%;
}

.project-04-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.project-04-divider svg {
  position: relative;
  display: block;
  width: calc(104% + 1.3px);
  height: 31px;
}

.project-04-divider .shape-fill {
  fill: #fcfbf7;
}
/* コーチング…(Project-04)セクション */

/* Webプロダクト(project-05)セクション */

.project-05-img-01 {
  position: relative;
  width: 10vw;
  max-width: 119px;
  height: 9.58vw;
  max-height: 114px;
  bottom: -80%;
}

.project-05-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.project-05-divider svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 70px;
}

.project-05-divider .shape-fill {
  fill: #d4eef9;
}
/* Webプロダクト(project-05)セクション */

/* イベント企画…(project-06)セクション */
.project-06-img-01 {
  position: relative;
  width: 10vw;
  max-width: 102px;
  height: 11.57vw;
  max-height: 118px;
  bottom: -90%;
}

.project-06-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.project-06-divider svg {
  position: relative;
  display: block;
  width: calc(104% + 1.3px);
  height: 31px;
}

.project-06-divider .shape-fill {
  fill: #fcfbf7;
}

/* イベント企画…(project-06)セクション */

/* 仕入れ販売(project-07)セクション */

.project-07-img-01 {
  position: relative;
  width: 10vw;
  max-width: 119px;
  height: 9.58vw;
  max-height: 114px;
  bottom: -80%;
}

.project-07-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.project-07-divider svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 70px;
}

.project-07-divider .shape-fill {
  fill: #d4eef9;
}
/* 仕入れ販売(project-07)セクション */

/* 会社概要セクション */
.company {
  position: relative;
  /* padding: 0; */
  width: 100%;
  min-height: 50svh;
  text-align: center;
  background-color: #d4eef9;
  z-index: 2;
  margin-top: -10px;
}

.company-container {
  display: flex;
  justify-content: space-between;
  padding: 10svh 0;
  position: relative;
  width: 100%;
}

.company-item-img-left {
  position: relative;
  width: 15vw;
  left: 0;
  bottom: -10svh;
  z-index: 3;
}
.company-item-img-right {
  position: relative;
  width: 15vw;
  right: 0;
  bottom: -10svh;
  z-index: 3;
}

.company-item-desc {
  width: 60%;
  max-width: 1000px;
  display: flex;
}

.company-ttl {
  width: 15vw;
  max-width: 300px;
}
.company-desc {
  margin-left: 10vw;
}
.company-table-body {
  text-align: left;
  vertical-align: top;
}
.company-table-body td {
  padding: 5px;
}

.company .content {
  position: relative;
  z-index: 1;
}

.company-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.company-divider svg {
  position: relative;
  display: block;
  width: calc(110% + 1.3px);
  height: 50px;
}

.company-divider .shape-fill {
  fill: #fffffe;
}

/* 会社概要セクション */

/* フッターセクション */
.footer {
  background-color: #fffffe;
}
.footer-items {
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.footer-item-link {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 960px) {
  .footer-item-link {
    flex-direction: row;
  }
}

/* フッターセクション */
