/* 基本のスタイルを記載（MobileFirstの実装とする） */
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #34807c;
  font-family: "Montserrat", "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

/* heroセクション */
.hero {
  background-image: url(../img/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}
@media screen and (min-width: 1280px) {
  .hero {
    background-size: 100vw auto;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
  }
}

.hero-animation-item-01 {
  position: absolute;
  bottom: 62%;
  left: 8%;
  width: 15vw;
  height: 18.52vw;
  max-width: 132px;
  max-height: 163px;
}
@media screen and (min-width: 375px) {
  .hero-animation-item-01 {
    bottom: 63%;
    left: 10%;
    width: 15vw;
    height: 18.52vw;
  }
}
@media screen and (min-width: 430px) {
  .hero-animation-item-01 {
    bottom: 62%;
    left: 5%;
    width: 15vw;
    height: 18.52vw;
  }
}
@media screen and (min-width: 768px) {
  .hero-animation-item-01 {
    bottom: 63%;
    left: 7%;
    width: 10vw;
    height: 12.347vw;
  }
}
@media screen and (min-width: 960px) {
  .hero-animation-item-01 {
    bottom: 63%;
    left: 8%;
    width: 7vw;
    height: 8.644vw;
    max-width: 132px;
    max-height: 163px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-animation-item-01 {
    bottom: 60%;
    left: 12%;
    width: 7vw;
    height: 8.644vw;
    max-width: 132px;
    max-height: 163px;
  }
}

.hero-animation-item-02 {
  position: absolute;
  bottom: 65%;
  left: 42%;
  width: 15vw;
  height: 14.37vw;
  max-width: 119px;
  max-height: 114px;
}
@media screen and (min-width: 375px) {
  .hero-animation-item-02 {
    bottom: 65%;
    left: 38%;
    width: 15vw;
    height: 14.37vw;
    max-width: 119px;
    max-height: 114px;
  }
}
@media screen and (min-width: 430px) {
  .hero-animation-item-02 {
    bottom: 65%;
    left: 30%;
    width: 15vw;
    height: 14.37vw;
    max-width: 119px;
    max-height: 114px;
  }
}
@media screen and (min-width: 768px) {
  .hero-animation-item-02 {
    bottom: 68%;
    left: 40%;
    width: 10vw;
    height: 9.58vw;
    max-width: 119px;
    max-height: 114px;
  }
}
@media screen and (min-width: 960px) {
  .hero-animation-item-02 {
    bottom: 67%;
    left: 40%;
    width: 7vw;
    height: 6.706vw;
    max-width: 119px;
    max-height: 114px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-animation-item-02 {
    bottom: 66%;
    left: 45%;
    width: 7vw;
    height: 6.706vw;
    max-width: 119px;
    max-height: 114px;
  }
}

.hero-animation-item-03 {
  position: absolute;
  bottom: 75%;
  left: 58%;
  width: 10vw;
  height: 11.569vw;
  max-width: 90px;
  max-height: 110px;
}
@media screen and (min-width: 375px) {
  .hero-animation-item-03 {
    bottom: 80%;
    left: 55%;
    width: 8vw;
    height: 9.778vw;
    max-width: 90px;
    max-height: 110px;
  }
}
@media screen and (min-width: 430px) {
  .hero-animation-item-03 {
    bottom: 75%;
    left: 47%;
    width: 10vw;
    height: 11.569vw;
    max-width: 90px;
    max-height: 110px;
  }
}
@media screen and (min-width: 768px) {
  .hero-animation-item-03 {
    bottom: 78%;
    left: 53%;
    width: 8vw;
    height: 9.778vw;
    max-width: 90px;
    max-height: 110px;
  }
}
@media screen and (min-width: 960px) {
  .hero-animation-item-03 {
    bottom: 75%;
    left: 52%;
    width: 8vw;
    height: 9.255vw;
    max-width: 90px;
    max-height: 110px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-animation-item-03 {
    bottom: 78%;
    left: 53%;
    width: 8vw;
    height: 9.255vw;
    max-width: 90px;
    max-height: 110px;
  }
}

.hero-animation-item-04 {
  position: absolute;
  bottom: 68%;
  left: 65%;
  width: 16vw;
  height: 15.668vw;
  max-width: 193px;
  max-height: 189px;
}
@media screen and (min-width: 375px) {
  .hero-animation-item-04 {
    bottom: 68%;
    left: 65%;
    width: 16vw;
    height: 15.668vw;
    max-width: 193px;
    max-height: 189px;
  }
}
@media screen and (min-width: 430px) {
  .hero-animation-item-04 {
    bottom: 70%;
    left: 62%;
    width: 16vw;
    height: 15.668vw;
    max-width: 193px;
    max-height: 189px;
  }
}
@media screen and (min-width: 768px) {
  .hero-animation-item-04 {
    bottom: 70%;
    left: 62%;
    width: 14vw;
    height: 13.709vw;
    max-width: 193px;
    max-height: 189px;
  }
}
@media screen and (min-width: 960px) {
  .hero-animation-item-04 {
    bottom: 68%;
    left: 63%;
    width: 12vw;
    height: 11.751vw;
    max-width: 193px;
    max-height: 189px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-animation-item-04 {
    bottom: 65%;
    left: 62%;
    width: 12vw;
    height: 11.751vw;
    max-width: 193px;
    max-height: 189px;
  }
}

.hero-animation-item-05 {
  position: absolute;
  bottom: 50%;
  left: 65%;
  width: 10vw;
  height: 13.214vw;
  max-width: 112px;
  max-height: 148px;
}
@media screen and (min-width: 375px) {
  .hero-animation-item-05 {
    bottom: 48%;
    left: 65%;
    width: 10vw;
    height: 13.214vw;
    max-width: 112px;
    max-height: 148px;
  }
}
@media screen and (min-width: 430px) {
  .hero-animation-item-05 {
    bottom: 50%;
    left: 62%;
    width: 10vw;
    height: 13.214vw;
    max-width: 112px;
    max-height: 148px;
  }
}
@media screen and (min-width: 768px) {
  .hero-animation-item-05 {
    bottom: 50%;
    left: 60%;
    width: 8vw;
    height: 10.571vw;
    max-width: 112px;
    max-height: 148px;
  }
}
@media screen and (min-width: 960px) {
  .hero-animation-item-05 {
    bottom: 50%;
    left: 70%;
    width: 7vw;
    height: 9.25vw;
    max-width: 112px;
    max-height: 148px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-animation-item-05 {
    bottom: 35%;
    left: 70%;
    width: 6vw;
    height: 7.929vw;
    max-width: 112px;
    max-height: 148px;
  }
}

.hero-animation-item-06 {
  position: absolute;
  bottom: 63%;
  left: 80%;
  width: 10vw;
  height: 9.417vw;
  max-width: 103px;
  max-height: 97px;
}
@media screen and (min-width: 375px) {
  .hero-animation-item-06 {
    bottom: 63%;
    left: 78%;
    width: 10vw;
    height: 9.417vw;
    max-width: 103px;
    max-height: 97px;
  }
}
@media screen and (min-width: 430px) {
  .hero-animation-item-06 {
    bottom: 67%;
    left: 85%;
    width: 10vw;
    height: 9.417vw;
    max-width: 103px;
    max-height: 97px;
  }
}
@media screen and (min-width: 768px) {
  .hero-animation-item-06 {
    bottom: 63%;
    left: 75%;
    width: 8vw;
    height: 7.534vw;
    max-width: 103px;
    max-height: 97px;
  }
}
@media screen and (min-width: 960px) {
  .hero-animation-item-06 {
    bottom: 63%;
    left: 80%;
    width: 8vw;
    height: 7.534vw;
    max-width: 103px;
    max-height: 97px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-animation-item-06 {
    bottom: 56%;
    left: 78%;
    width: 6vw;
    height: 5.65vw;
    max-width: 103px;
    max-height: 97px;
  }
}

.hero-animation-item-07 {
  position: absolute;
  bottom: 52%;
  left: 28%;
  width: 10vw;
  height: 9.81vw;
  max-width: 105px;
  max-height: 103px;
}
@media screen and (min-width: 375px) {
  .hero-animation-item-07 {
    bottom: 50%;
    left: 36%;
    width: 10vw;
    height: 9.81vw;
    max-width: 105px;
    max-height: 103px;
  }
}
@media screen and (min-width: 430px) {
  .hero-animation-item-07 {
    bottom: 53%;
    left: 25%;
    width: 10vw;
    height: 9.81vw;
    max-width: 105px;
    max-height: 103px;
  }
}
@media screen and (min-width: 768px) {
  .hero-animation-item-07 {
    bottom: 51%;
    left: 30%;
    width: 10vw;
    height: 9.81vw;
    max-width: 105px;
    max-height: 103px;
  }
}
@media screen and (min-width: 960px) {
  .hero-animation-item-07 {
    bottom: 48%;
    left: 28%;
    width: 10vw;
    height: 9.81vw;
    max-width: 105px;
    max-height: 103px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-animation-item-07 {
    bottom: 48%;
    left: 40%;
    width: 10vw;
    height: 9.81vw;
    max-width: 105px;
    max-height: 103px;
  }
}

/* 浜辺のアイテム */
.hero-item-01 {
  position: absolute;
  bottom: 55%;
  left: 20%;
  width: 5vw;
  height: 4.118vw;
  max-width: 34px;
  max-height: 28px;
}
@media screen and (min-width: 375px) {
  .hero-item-01 {
    bottom: 55%;
    left: 25%;
    width: 5vw;
    height: 4.118vw;
    max-width: 34px;
    max-height: 28px;
  }
}
@media screen and (min-width: 430px) {
  .hero-item-01 {
    bottom: 57%;
    left: 18%;
    width: 5vw;
    height: 4.118vw;
    max-width: 34px;
    max-height: 28px;
  }
}
@media screen and (min-width: 768px) {
  .hero-item-01 {
    bottom: 55%;
    left: 18%;
    width: 5vw;
    height: 4.118vw;
    max-width: 34px;
    max-height: 28px;
  }
}
@media screen and (min-width: 960px) {
  .hero-item-01 {
    bottom: 54%;
    left: 20%;
    width: 5vw;
    height: 4.118vw;
    max-width: 34px;
    max-height: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-item-01 {
    bottom: 52%;
    left: 24%;
    width: 5vw;
    height: 4.118vw;
    max-width: 34px;
    max-height: 28px;
  }
}

.hero-item-02 {
  position: absolute;
  bottom: 58%;
  left: 28%;
  width: 8vw;
  height: 8.148vw;
  max-width: 54px;
  max-height: 55px;
}
@media screen and (min-width: 375px) {
  .hero-item-02 {
    bottom: 60%;
    left: 32%;
    width: 8vw;
    height: 8.148vw;
    max-width: 54px;
    max-height: 55px;
  }
}
@media screen and (min-width: 430px) {
  .hero-item-02 {
    bottom: 60%;
    left: 25%;
    width: 8vw;
    height: 8.148vw;
    max-width: 54px;
    max-height: 55px;
  }
}
@media screen and (min-width: 768px) {
  .hero-item-02 {
    bottom: 58%;
    left: 24%;
    width: 8vw;
    height: 8.148vw;
    max-width: 54px;
    max-height: 55px;
  }
}
@media screen and (min-width: 960px) {
  .hero-item-02 {
    bottom: 58%;
    left: 26%;
    width: 8vw;
    height: 7.664vw;
    max-width: 54px;
    max-height: 55px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-item-02 {
    bottom: 56%;
    left: 32%;
    width: 5vw;
    height: 4.79vw;
    max-width: 54px;
    max-height: 55px;
  }
}
.hero-item-03 {
  position: absolute;
  bottom: 80%;
  left: 38%;
  width: 5vw;
  height: 3.86vw;
  max-width: 35px;
  max-height: 27px;
}
@media screen and (min-width: 375px) {
  .hero-item-03 {
    bottom: 80%;
    left: 32%;
    width: 5vw;
    height: 3.857vw;
    max-width: 35px;
    max-height: 27px;
  }
}
@media screen and (min-width: 430px) {
  .hero-item-03 {
    bottom: 80%;
    left: 25%;
    width: 5vw;
    height: 3.857vw;
    max-width: 35px;
    max-height: 27px;
  }
}
@media screen and (min-width: 768px) {
  .hero-item-03 {
    bottom: 80%;
    left: 30%;
    width: 3vw;
    height: 2.314vw;
    max-width: 35px;
    max-height: 27px;
  }
}
@media screen and (min-width: 960px) {
  .hero-item-03 {
    bottom: 77%;
    left: 33%;
    width: 5vw;
    height: 3.857vw;
    max-width: 35px;
    max-height: 27px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-item-03 {
    bottom: 85%;
    left: 36%;
    width: 5vw;
    height: 3.857vw;
    max-width: 35px;
    max-height: 27px;
  }
}

.hero-item-04 {
  position: absolute;
  bottom: 60%;
  left: 60%;
  width: 5vw;
  height: 4.88vw;
  max-width: 41px;
  max-height: 40px;
}
@media screen and (min-width: 375px) {
  .hero-item-04 {
    bottom: 60%;
    left: 55%;
    width: 5vw;
    height: 4.878vw;
    max-width: 41px;
    max-height: 40px;
  }
}
@media screen and (min-width: 430px) {
  .hero-item-04 {
    bottom: 60%;
    left: 55%;
    width: 5vw;
    height: 4.878vw;
    max-width: 41px;
    max-height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .hero-item-04 {
    bottom: 60%;
    left: 55%;
    width: 3vw;
    height: 2.927vw;
    max-width: 41px;
    max-height: 40px;
  }
}
@media screen and (min-width: 960px) {
  .hero-item-04 {
    bottom: 58%;
    left: 56%;
    width: 5vw;
    height: 4.878vw;
    max-width: 41px;
    max-height: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-item-04 {
    bottom: 55%;
    left: 55%;
    width: 5vw;
    height: 4.878vw;
    max-width: 41px;
    max-height: 40px;
  }
}

.hero-item-05 {
  position: absolute;
  bottom: 75%;
  left: 85%;
  width: 8vw;
  height: 11.543vw;
  max-width: 70px;
  max-height: 101px;
}
@media screen and (min-width: 375px) {
  .hero-item-05 {
    bottom: 78%;
    left: 85%;
    width: 8vw;
    height: 11.543vw;
    max-width: 70px;
    max-height: 101px;
  }
}
@media screen and (min-width: 430px) {
  .hero-item-05 {
    bottom: 80%;
    left: 88%;
    width: 8vw;
    height: 11.543vw;
    max-width: 70px;
    max-height: 101px;
  }
}
@media screen and (min-width: 768px) {
  .hero-item-05 {
    bottom: 80%;
    left: 85%;
    width: 6vw;
    height: 8.657vw;
    max-width: 70px;
    max-height: 101px;
  }
}
@media screen and (min-width: 960px) {
  .hero-item-05 {
    bottom: 75%;
    left: 88%;
    width: 4vw;
    height: 5.771vw;
    max-width: 70px;
    max-height: 101px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-item-05 {
    bottom: 75%;
    left: 81%;
    width: 4vw;
    height: 5.771vw;
    max-width: 70px;
    max-height: 101px;
  }
}

/* hero タイトルロゴ */
.site-ttl {
  overflow: hidden;
  width: 100vw;
  position: absolute;
  bottom: 20%;
}
.site-ttl-content {
  display: flex;
  justify-content: center;
}
/* hero タイトルロゴ */

/* 無限スクロールメニュー */
.scrolling-menu {
  overflow: hidden;
  width: 100vw;
  box-sizing: border-box;
  position: absolute;
  bottom: 10%;
}

.menu-content {
  display: flex;
  white-space: nowrap;
}

.menu-item {
  flex: 0 0 auto;
  font-weight: 600;
  font-size: calc((100vw - 320px) / 140 + 12px);
  width: 44vw;
  max-width: 300px;
  background-color: transparent;
  border: none;
  margin: 0 10px;
  padding: 0;
}

@media screen and (min-width: 960px) {
  .menu-item {
    font-weight: 500;
    font-size: 1rem;
    width: 30vw;
    max-width: 300px;
    margin: 0 15px;
  }
}

.menu-item a {
  display: block;
  padding: 10px 10px;
  background-color: #f2f2f295;
  color: #34807c;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.menu-item:focus {
  outline: none;
}
/* 無限スクロールメニュー */

/* hero-section セパレーター */
.hero-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.hero-divider svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 25px;
}
@media screen and (min-width: 960px) {
  .hero-divider svg {
    height: 33px;
  }
}

.hero-divider .shape-fill {
  fill: #d4eef9;
}
/* heroセクション */

/* Aboutセクション */
.about {
  position: relative;
  /* padding: 0; */
  width: 100%;
  min-height: 50svh;
  text-align: center;
  background-color: #d4eef9;
  z-index: 2;
  margin-top: -10px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 100px 0;
}

.about-item-txt {
  width: 80%;
  max-width: 1000px;
}
@media screen and (min-width: 960px) {
  .about-item-txt {
    width: 40%;
    max-width: 800px;
  }
}

.about-ttl {
  margin-top: 5svh;
  font-weight: normal;
}

.about-txt {
  margin-top: 3svh;
}
@media screen and (min-width: 960px) {
  .about-txt {
    margin-top: 10svh;
  }
}

.about-item-img-left {
  position: absolute;
  width: 25vw;
  left: 0;
  bottom: 0;
  z-index: 3;
}
@media screen and (min-width: 718px) {
  .about-item-img-left {
    width: 15vw;
  }
}

.about-item-img-right {
  display: none;
}
@media screen and (min-width: 960px) {
  .about-item-img-right {
    display: block;
    position: absolute;
    width: 15vw;
    right: 0;
    bottom: 0;
    /* opacity: 0.5; */
    z-index: 3;
  }
}

.about .content {
  position: relative;
  z-index: 1;
}
.about-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.about-divider svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 20px;
}
@media screen and (min-width: 960px) {
  .about-divider svg {
    height: 41px;
  }
}

.about-divider .shape-fill {
  fill: #f7f9d9;
}
/* Aboutセクション */

/* Projectセクション */
.project {
  position: relative;
  overflow: hidden;
  background-color: #f7f9d9;
}

.project-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}
@media screen and (min-width: 960px) {
  .project-container {
    flex-direction: row;
  }
}

.project-item-img {
  margin: 0 100px;
}
.project-item-img-simbol {
  width: 30vw;
  max-width: 202px;
}
@media screen and (min-width: 960px) {
  .project-item-img-simbol {
    width: 20vw;
    max-width: 202px;
  }
}
.project-ttl {
  margin-top: 5svh;
  font-weight: normal;
}
.project-item-txt {
  width: 80%;
  max-width: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 960px) {
  .project-item-txt {
    width: 40%;
    max-width: 800px;
  }
}

.project-txt {
  margin-top: 3svh;
}
@media screen and (min-width: 960px) {
  .project-txt {
    margin-top: 10svh;
  }
}
.project-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.project-divider svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 25px;
}
@media screen and (min-width: 960px) {
  .project-divider svg {
    height: 41px;
  }
}

.project-divider .shape-fill {
  fill: #fcfbf7;
}

/* project section 共通部分 */
.project-01-img-02,
.project-02-img-02,
.project-03-img-02,
.project-04-img-02,
.project-05-img-02,
.project-06-img-02,
.project-07-img-02 {
  position: relative;
  width: 65vw;
  max-width: 604px;
  height: 43.26vw;
  max-height: 402px;
}
@media screen and (min-width: 960px) {
  .project-01-img-02,
  .project-02-img-02,
  .project-03-img-02,
  .project-04-img-02,
  .project-05-img-02,
  .project-06-img-02,
  .project-07-img-02 {
    width: 20vw;
    max-width: 302px;
    height: 13.3vw;
    max-height: 201px;
  }
}

/* project section 共通部分 */

/* project奇数section */
.project-01,
.project-03,
.project-05,
.project-07 {
  background-color: #fcfbf7;
  position: relative;
}
.project-01-container,
.project-03-container,
.project-05-container,
.project-07-container {
  padding: 150px 0;
  display: flex;
  justify-content: center;
}
.project-01-ttl,
.project-03-ttl,
.project-05-ttl,
.project-07-ttl {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  margin-right: 6%;
}
@media screen and (min-width: 960px) {
  .project-01-ttl,
  .project-03-ttl,
  .project-05-ttl,
  .project-07-ttl {
    justify-content: end;
    flex-direction: row;
  }
}
.project-01-heading,
.project-03-heading,
.project-05-heading,
.project-07-heading {
  writing-mode: vertical-rl;
  font-weight: 600;
  text-align: center;
}
.project-01-desc,
.project-03-desc,
.project-05-desc,
.project-07-desc {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 960px) {
  .project-01-desc,
  .project-03-desc,
  .project-05-desc,
  .project-07-desc {
    flex-direction: row;
  }
}

.project-01-txt,
.project-03-txt,
.project-05-txt,
.project-07-txt {
  width: 55vw;
  margin: 5vw;
}
@media screen and (min-width: 960px) {
  .project-01-txt,
  .project-03-txt,
  .project-05-txt,
  .project-07-txt {
    width: 30vw;
    margin-right: 10vw;
  }
}
/* project奇数section */

/* project偶数section */
.project-02,
.project-04,
.project-06 {
  background-color: #d4eef9;
  position: relative;
}
.project-02-container,
.project-04-container,
.project-06-container {
  padding: 150px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.project-02-ttl,
.project-04-ttl,
.project-06-ttl {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 6%;
}
@media screen and (min-width: 960px) {
  .project-02-ttl,
  .project-04-ttl,
  .project-06-ttl  {
    justify-content: end;
    flex-direction: row;
  }
}
.project-02-heading,
.project-04-heading,
.project-06-heading {
  writing-mode: vertical-rl;
  font-weight: 600;
  text-align: center;
}
.project-02-desc,
.project-04-desc,
.project-06-desc {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 960px) {
  .project-02-desc,
  .project-04-desc,
  .project-06-desc {
    flex-direction: row-reverse;
  }
}
.project-02-txt,
.project-04-txt,
.project-06-txt {
  width: 55vw;
  margin: 5vw;
}
@media screen and (min-width: 960px) {
  .project-02-txt,
  .project-04-txt,
  .project-06-txt {
    width: 30vw;
    margin-right: 10vw;
  }
}
/* project偶数section */

/* vocal(Project-01)セクション */
.project-01-img-01 {
  position: relative;
  width: 10vw;
  /* min-width: 66px; */
  max-width: 132px;
  height: 12.35vw;
  max-height: 163px;
  margin-right: 0;
}
@media screen and (min-width: 960px) {
  .project-01-img-01 {
    margin-right: 20px;
    bottom: -65%;
  }
}

.project-01-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.project-01-divider svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 30px;
}
@media screen and (min-width: 960px) {
  .project-01-divider svg {
    height: 70px;
  }
}

.project-01-divider .shape-fill {
  fill: #d4eef9;
}
/* vocal(Project-01)セクション */

/* SNS配信…(Project-02)セクション */

.project-02-img-01 {
  position: relative;
  width: 10vw;
  height: 13.21vw;
  max-width: 112px;
  max-height: 148px;
  bottom: 0%;
}
@media screen and (min-width: 960px) {
  .project-02-img-01 {
    bottom: -80%;
  }
}

.project-02-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.project-02-divider svg {
  position: relative;
  display: block;
  width: calc(104% + 1.3px);
  height: 28px;
}
@media screen and (min-width: 960px) {
  .project-02-divider svg {
    height: 31px;
  }
}

.project-02-divider .shape-fill {
  fill: #fcfbf7;
}
/* SNS配信…(Project-02)セクション */

/* apparel(Project-03)セクション */
.project-03-img-01 {
  position: relative;
  width: 10vw;
  height: 9.58vw;
  max-width: 119px;
  max-height: 114px;
  bottom: 0;
}
@media screen and (min-width: 960px) {
  .project-03-img-01 {
    bottom: -80%;
  }
}

.project-03-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.project-03-divider svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 35px;
}
@media screen and (min-width: 960px) {
  .project-03-divider svg {
    height: 70px;
  }
}

.project-03-divider .shape-fill {
  fill: #d4eef9;
}
/* apparel(project-03)セクション */

/* コーチング…(Project-04)セクション */
.project-04-img-01 {
  position: relative;
  width: 10vw;
  height: 9.42vw;
  max-width: 103px;
  max-height: 97px;
  bottom: 0;
}
@media screen and (min-width: 960px) {
  .project-04-img-01 {
    bottom: -80%;
  }
}

.project-04-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.project-04-divider svg {
  position: relative;
  display: block;
  width: calc(104% + 1.3px);
  height: 25px;
}
@media screen and (min-width: 960px) {
  .project-04-divider svg {
    height: 31px;
  }
}

.project-04-divider .shape-fill {
  fill: #fcfbf7;
}
/* コーチング…(Project-04)セクション */

/* Webプロダクト(project-05)セクション */
.project-05-img-01 {
  position: relative;
  width: 10vw;
  height: 9.58vw;
  max-width: 119px;
  max-height: 114px;
  bottom: 0;
}
@media screen and (min-width: 960px) {
  .project-05-img-01 {
    bottom: -80%;
  }
}

.project-05-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.project-05-divider svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 30px;
}
@media screen and (min-width: 960px) {
  .project-05-divider svg {
    height: 70px;
  }
}

.project-05-divider .shape-fill {
  fill: #d4eef9;
}
/* Webプロダクト(project-05)セクション */

/* イベント企画…(project-06)セクション */
.project-06-img-01 {
  position: relative;
  width: 10vw;
  max-width: 102px;
  height: 11.57vw;
  max-height: 118px;
  bottom: 0 ;
}
@media screen and (min-width: 960px) {
  .project-06-img-01 {
    bottom: -90%;
  }
}

.project-06-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.project-06-divider svg {
  position: relative;
  display: block;
  width: calc(104% + 1.3px);
  height: 25px;
}
@media screen and (min-width: 960px) {
  .project-06-divider svg {
    height: 31px;
  }
}

.project-06-divider .shape-fill {
  fill: #fcfbf7;
}
/* イベント企画…(project-06)セクション */

/* 仕入れ販売(project-07)セクション */
.project-07-img-01 {
  position: relative;
  width: 10vw;
  height: 9.58vw;
  max-width: 119px;
  max-height: 114px;
  bottom: 0%;
}
@media screen and (min-width: 960px) {
  .project-07-img-01 {
    bottom: -80%;
  }
}

.project-07-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.project-07-divider svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 30px;
}
@media screen and (min-width: 960px) {
  .project-07-divider svg {
    height: 70px;
  }
}

.project-07-divider .shape-fill {
  fill: #d4eef9;
}
/* 仕入れ販売(project-07)セクション */

/* 会社概要セクション */
.company {
  position: relative;
  width: 100%;
  min-height: 50svh;
  text-align: center;
  background-color: #d4eef9;
  z-index: 2;
}

.company-container {
  display: flex;
  justify-content: space-between;
  padding: 5svh 0;
  position: relative;
  width: 100%;
}

.company-item-img-left {
  position: relative;
  width: 15vw;
  left: 0;
  bottom: -40svh;
  z-index: 3;
}
@media screen and (min-width: 500px) {
  .company-item-img-left {
    bottom: -20svh;
  }
}
@media screen and (min-width: 960px) {
  .company-item-img-left {
    bottom: -10svh;
  }
}
.company-item-img-right {
  position: relative;
  width: 15vw;
  right: 0;
  bottom: -40svh;
  z-index: 3;
}
@media screen and (min-width: 500px) {
  .company-item-img-right {
    bottom: -20svh;
  }
}
@media screen and (min-width: 960px) {
  .company-item-img-right {
    bottom: -10svh;
  }
}

.company-item-desc {
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 960px) {
  .company-item-desc {
    flex-direction: row;
    align-items: baseline;
  }
}

.company-ttl {
  font-weight: 600;
  width: 50vw;
  max-width: 800px;
  margin-bottom: 3svh;
}
@media screen and (min-width: 960px) {
  .company-ttl {
    font-weight: 500;
    width: 15vw;
    max-width: 300px;
    margin-bottom: 0;
  }
}
.company-desc {
  margin-left: 0;
  font-weight: 600;
}
@media screen and (min-width: 960px) {
  .company-desc {
    margin-left: 10vw;
    font-weight: 500;
  }
}

.company-table-body {
  text-align: left;
  vertical-align: top;
  font-size: 0.8rem;
}
@media screen and (min-width: 960px) {
  .company-table-body {
    font-size: 1rem;
  }
}

.company-table-body td {
  padding: 5px;
}

.company .content {
  position: relative;
  z-index: 1;
}

.company-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.company-divider svg {
  position: relative;
  display: block;
  width: calc(110% + 1.3px);
  height: 25px;
}
@media screen and (min-width: 960px) {
  .company-divider svg {
    height: 50px;
  }
}

.company-divider .shape-fill {
  fill: #fffffe;
}

/* 会社概要セクション */

/* フッターセクション */
.footer {
  background-color: #fffffe;
}
.footer-items {
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.footer-item-link {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 960px) {
  .footer-item-link {
    flex-direction: row;
  }
}

/* フッターセクション */
