/* 基本のスタイルを記載（MobileFirstの実装とする） */
body,
html {
  background-color: #160b35;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #f1eed3;
  font-family: "Montserrat", "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

/* nav */
.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0); /* 背景を透明に設定 */
  z-index: 10; /* 他の要素の上に表示 */
}

.logo-container {
  width: 20vw;
  display: flex;
  align-items: center;
}

.navbar-brand-logo {
  width: 10vw;
}
@media screen and (min-width: 960px) {
  .navbar-brand-logo{
    max-width: 59px;
    max-height: 69px;
  }
}

.navbar-brand-heading {
  width: 30vw;
}
@media screen and (min-width: 960px) {
  .navbar-brand-heading {
    max-width: 207px;
    max-height: 49px;
  }
}

.nav-link {
  color: #f1eed3;
  text-shadow: 0 0 10px #fff, 0 0 15px #fff;
}

/* nav ハンバーガーメニュー */
.navbar-toggler {
  width: 48px;
  height: 48px;
  background-color: transparent; /* 背景色を透明に */
  border: 2px solid #ff0; /* 黄色いボーダーを設定 */
  border-radius: 50%; /* 完全な円形 */
  box-shadow: 0 0 1px #ff0, 0 0 1px #ff0; /* 発光効果 */
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 70% 50%, 100% 100%, 0% 100%);
  /* この設定で円の右下の一部を切り取る */
}

.navbar-toggler-icon {
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FFD700' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  filter: drop-shadow(0 0 1px #ff0) drop-shadow(0 0 1px #ff0); /* ネオンのような発光効果 */
  display: flex;
  align-items: center;
  justify-content: center;
}







/* heroセクション */
.hero {
  margin: 100px 0 200px;
}
.hero-ttl-box {
  text-align: right;
  margin-right: 5vw;
}
.hero-ttl {
  width: 55vw;
}

.hero-container {
  display: flex;
  justify-content: space-around;
}

.hero-img {
  width: 20vw;
}

.hero-desc {
  width: 40vw;
}
.hero-desc-txt {
  text-align: center;
}

.hero-desc-items {
  display: flex;
  justify-content: space-around;
}

footer {
  text-align: center;
}
footer small {
  padding: 20px 0;
}