/* 基本のスタイルを記載（MobileFirstの実装とする） */
body,
html {
  background-color: #160b35;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #f1eed3;
  font-size: 1.2rem;
  font-family: "Montserrat", "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

/* nav */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0); /* 背景を透明に設定 */
  z-index: 10; /* 他の要素の上に表示 */
}

.logo-container {
  width: 20vw;
  display: flex;
  align-items: center;
}

.navbar-brand-logo {
  width: 10vw;
}
@media screen and (min-width: 960px) {
  .navbar-brand-logo{
    max-width: 59px;
    max-height: 69px;
  }
}

.navbar-brand-heading {
  width: 30vw;
}
@media screen and (min-width: 960px) {
  .navbar-brand-heading {
    max-width: 207px;
    max-height: 49px;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
      flex-direction: row;
      margin-right: 3vw !important;
  }
}


.nav-link {
  color: #f1eed3;
  text-shadow: 0 0 10px #fff, 0 0 15px #fff;
}

/* nav ハンバーガーメニュー */
/* ハンバーガーメニューボタン */
.navbar-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* カーソルをポインタに */
}

.navbar-toggler-icon {
  background-image: url("../img/hamburger-production.png");
  width: 100px; /* アイコンの幅 */
  height: 100px; /* アイコンの高さ */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; /* 画像をコンテナの中心に配置 */
}
/* メニュー展開時のスタイルを打ち消す */
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-collapse {
  transform: translate(-30px, -20px);
  /* transform: translateY(50px); */
}


/* heroセクション */
.hero {
  margin: 10svh 0;
}
@media screen and (min-width: 960px) {
  .hero {
    margin: 10svh 0 ;
    margin: 100px 0 200px;
  }
}
.hero-ttl-box {
  text-align: right;
  margin-right: 3vw;
}
.hero-ttl {
  display: none;
}
@media screen and (min-width: 960px) {
  .hero-ttl {
    display: inline-block;
    width: 55vw;
  }
}

.hero-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 960px) {
  .hero-container {
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
  }
}

.hero-img-box {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 960px) {
  .hero-img-box {
    display: block;
    width: 40vw;
  }
}
.hero-img-production {
  margin-top: 10svh;
  width: 60vw;
}
@media screen and (min-width: 960px) {
  .hero-img-production {
    margin-top: 0;
    width: 30vw;
  }
}

.hero-desc {
  width: 0;
}
@media screen and (min-width: 960px) {
  .hero-desc {
    width: 40vw;
  }
}
.hero-desc-txt {
  display: none;
}
@media screen and (min-width: 960px) {
  .hero-desc-txt {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
}

.hero-desc-items {
  display: none;
}
@media screen and (min-width: 960px) {
  .hero-desc-items {
    display: flex;
    justify-content: space-around;
  }
}

/* モバイル */
.hero-ttl-box-mb {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 960px) {
  .hero-ttl-box-mb {
    display: none;
  }
}
.hero-ttl-mb {
  display: inline-block;
  width: 80vw;
}
@media screen and (min-width: 960px) {
  .hero-ttl-mb {
    display: none;
  }
}
.hero-desc-mb {
  width: 80vw;
}
@media screen and (min-width: 960px) {
  .hero-desc-mb {
    width: 0;
  }
}
.hero-desc-txt-mb {
  display: inline-block;
  text-align: center;
}
@media screen and (min-width: 960px) {
  .hero-desc-txt-mb {
    display: none;
  }
}

.hero-desc-items-mb {
  display: flex;
  flex-direction: column;
  align-items: center
}
@media screen and (min-width: 960px) {
  .hero-desc-items-mb {
    display: none;
  }
}
.hero-desc-txt-mb {
  width: 100%;
  text-align: center;
}

.hero-desc-item-img01-mb,
.hero-desc-item-img02-mb {
  width: 250px;
  height: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer small {
  padding: 5px 0;
  font-size: 12px;
}
